<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1>Список дел</h1>
<div id="task-list">
    <div th:each="task : ${tasks}">
        <a th:href="${task.id}" class = "task-link" th:attr="data-id=${task.id}" th:text="${task.info}"></a>
    </div>
</div>
</body>
</html>